﻿@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Просмотренных фильмов - @Model.amountWatchedFilms шт.</p>
    <p>Хочу посмотреть - @Model.amountAwaitingFilms шт.</p>
</div>
