﻿@page
@model EntertainmentLists.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col text-center">
        <img src="~/images/NotFound.jpg" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>The requested information was not found</h1>
        <a asp-page="/Index" class="btn btn-primary">Click here to return to the main page</a>
    </div>
</div>
