﻿@page "{id}:int"
@model EntertainmentLists.Pages.AwaitingFilms.AwaitingEditModel
@{
    var updatingAwaitingFilm = RouteData.Values["id"].ToString();
    var i = 1;
}

<style>
    table {
        margin-top: 95px;
    }

    #filmName {
        min-width: 800px;
        max-width: 800px;
        word-wrap: break-word;
        text-align: center;
    }
</style>

<h1>Хочу посмотреть</h1>
<form method="post">
    <div>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
            </tr>

            @if (Model.awaitingFilmModels != null)
            {
                @foreach (var awaitingFilm in Model.awaitingFilmModels)
                {
                    <tr>
                        @if (awaitingFilm.Id == int.Parse(updatingAwaitingFilm))
                        {
                            <td>
                                @(i++)
                                <input asp-for="@awaitingFilm.Id" type="hidden" />
                            </td>
                            <td id="filmName">
                                <input asp-for="@awaitingFilm.Name" />
                                <hr />
                            </td>
                        }
                        else
                        {
                            <td>
                                @(i++)
                            </td>
                            <td id="filmName">
                                @awaitingFilm.Name
                                <hr />
                            </td>
                        }
                        <td>
                            <button type="submit" class="btn btn-warning btn-sm">Сохранить</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</form>
