﻿@page
@model EntertainmentLists.Pages.AwaitingFilms.AwaitingAddModel
@{
    var nextId = Model.awaitingFilmModels.Count() + 1;
    var i = 1;
}

<style>
    #add {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #filmName {
        min-width: 800px;
        max-width: 800px;
        word-wrap: break-word;
        text-align: center;
    }
</style>

<h1>Хочу посмотреть</h1>
<form method="post">
    <button type="submit" id="add" class="btn btn-success btn-lg">Сохранить</button>
    <div>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
            </tr>
            <tr>
                <td><input asp-for="AwaitingFilm.Id" type="hidden" /></td>
                <td id="filmName"><input asp-for="AwaitingFilm.Name" placeholder="Название" /></td>
            </tr>

            @if (Model.awaitingFilmModels != null)
            {
                @foreach (var awaitingFilm in Model.awaitingFilmModels)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td id="filmName">
                            @awaitingFilm.Name
                            <hr />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</form>
