﻿@page
@model EntertainmentLists.Pages.AwaitingFilms.AwaitingFilmRazorModel
@{
    var i = 1;
}

<style>
    #add {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #filmName {
        min-width: 800px;
        max-width: 800px;
        word-wrap: break-word;
        text-align: center;
    }
</style>

<h1>Хочу посмотреть</h1>
<form method="post">
    <a asp-page="/AwaitingFilms/AwaitingAdd" type="button" id="add" class="btn btn-success btn-lg">Добавить</a>
    <div>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
            </tr>
            @if (Model.awaitingFilmModels != null)
            {
                @foreach (var awaitingFilm in Model.awaitingFilmModels)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td id="filmName">
                            @awaitingFilm.Name
                            <hr />
                        </td>
                        <td>
                            <a asp-page="/AwaitingFilms/AwaitingEdit" asp-route-id="@awaitingFilm.Id" type="button" class="btn btn-warning btn-sm">Редактировать</a>
                        </td>
                        <td>
                            <button type="submit" asp-page-handler="delete" asp-route-id="@awaitingFilm.Id" class="btn btn-danger btn-sm">Удалить</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</form>