﻿@page "{id}:int"
@model EntertainmentLists.Pages.WatchedFilms.WatchedEditModel
@{
    var updatingWatchedFilm = RouteData.Values["id"].ToString();
    var i = 1;
}

<style>
    table {
        margin-top: 95px;
    }

    #filmName {
        min-width: 800px;
        max-width: 800px;
        word-wrap: break-word;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h1>Хочу посмотреть</h1>
<form method="post">
    <div>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
                <th>Оценка</th>
            </tr>
            @foreach (var watchedFilm in Model.watchedFilmModels)
            {
                <tr>
                    @if (watchedFilm.Id == int.Parse(updatingWatchedFilm))
                    {
                    <td>
                        @(i++)
                        <input asp-for="@watchedFilm.Id" type="hidden" />
                        <hr />
                    </td>
                        <td id="filmName">
                            <input asp-for="@watchedFilm.Name" />
                        </td>
                        <td>
                            <select asp-for="@watchedFilm.Rating">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                    }
                    else
                    {
                        <td>
                            @(i++)
                        </td>
                        <td id="filmName">
                            @watchedFilm.Name
                        </td>
                        <td>
                            @watchedFilm.Rating
                        </td>
                    }
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm">Сохранить</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>