﻿@page
@model EntertainmentLists.Pages.WatchedFilms.WatchedFilmRazorModel
@{
    var i = 1;
}

<style>
    #add {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #filmName {
        width: 80%;
        word-wrap: break-word;
        text-align: center;
        padding: 5px;
    }
</style>

<h1>Просмотренные фильмы</h1>
<form method="post">
    <a asp-page="/WatchedFilms/WatchedAdd" type="button" id="add" class="btn btn-success btn-lg">Добавить</a>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
                <th>Оценка</th>
            </tr>
            @foreach (var watchedFilm in Model.watchedFilmModels)
            {
                <tr>
                    <td>
                        @(i++)
                        <hr />
                    </td>
                    <td id="filmName">
                        @watchedFilm.Name
                    </td>
                    <td>
                        @watchedFilm.Rating
                        <hr />
                    </td>
                    <td id="but">
                        <a asp-page="/WatchedFilms/WatchedEdit" asp-route-id="@watchedFilm.Id" type="button" class="btn btn-warning btn-sm">Редактировать</a>
                    </td>
                    <td id="but">
                        <button type="submit" asp-page-handler="delete" asp-route-id="@watchedFilm.Id" class="btn btn-danger btn-sm">Удалить</button>
                    </td>
                </tr>
            }
        </table>
</form>