﻿@page
@model EntertainmentLists.Pages.WatchedFilms.WatchedAddModel
@{
    var i = 1;
}

<style>
    #add {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #filmName {
        min-width: 800px;
        max-width: 800px;
        word-wrap: break-word;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h1>Хочу посмотреть</h1>
<form method="post">
    <div>
        <button type="submit" id="add" class="btn btn-success btn-lg">Сохранить</button>
        <table>
            <tr>
                <th>№</th>
                <th id="filmName">Название</th>
                <th>Оценка</th>
            </tr>
            <tr>
                <td><input asp-for="WatchedFilm.Id" type="hidden" /></td>
                <td id="filmName"><input asp-for="WatchedFilm.Name" placeholder="Название" /></td>
                <td>
                    <select asp-for="WatchedFilm.Rating">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </td>
            </tr>
            @foreach (var watchedFilm in Model.watchedFilmModels)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td id="filmName">
                        @watchedFilm.Name
                    </td>
                    <td>
                        @watchedFilm.Rating
                    </td>
                </tr>
            }
        </table>
    </div>
</form>